<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ServiceConfigFilePath" value="c:\users\cgiadmin\documents\visual studio 2017\Projects\WindowsServiceManagement\WindowsServiceManagement\ServiceConfig.xml"/>
    <add key="PowerShellFilePath" value="c:\users\cgiadmin\documents\visual studio 2017\Projects\WindowsServiceManagement\WindowsServiceManagement\WindowsServicePowerShellScript.ps1"/>
    <add key="ApplicationTitle" value="Junifer Windows Services Management Console"/>
  </appSettings>
</configuration>