<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ServiceConfigFilePath" value="C:\Users\cgiadmin\Desktop\Service-Mgmt\ServiceConfig.xml"/>
    <add key="PowerShellFilePath" value="C:\Users\cgiadmin\Desktop\Service-Mgmt\WindowsServicePowerShellScript.ps1"/>
    <add key="ApplicationTitle" value="Junifer Windows Services Management Console"/>
  </appSettings>
</configuration>